---
---
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro|Open+Sans|Raleway');

$background-color: #06e8a4;
$code-color: #efefef;
$accent-color: #00AFE8;
$clear-color: white;
$title-font: "Open Sans";
$text-font: Raleway;
$code-font: "Source Code Pro";
$max-width: 850px;

h1, h2, h3, h4, h5, h6 {
  font: {
    family: $title-font;
  }
}

h1 {
  font-size: 50px;
}

nav {
  box-sizing: border-box;
  background-color: $clear-color;
  width: 100%;
  padding: 20px;

  a {
    text-decoration: none;
    color: $background-color;
    font-size: 20px;
    margin-right: 10px;

    &.primary-link {
      font-size: 30px;
      margin-right: 20px;
    }

    &:hover {
      color: $accent-color;
    }

    transition: color .25s;
  }
}

body {
  background-color: $background-color;
  font: {
    family: $text-font;
  }
  margin: 0px;
}

.center {
  box-sizing: border-box;
  width: 100%;
  max-width: $max-width;

  @media (min-width: $max-width) {
    margin: {
      left: auto;
      right: auto;
    }
  }
}

.content {
  margin-top: 20px;
  padding: 30px;
  border-radius: 2px;
  background-color: $clear-color;
}

code {
  background-color: $code-color;
  display: inline-block;
  padding: 5px;
  font-family: $code-font;

  pre & {
    padding: 10px;
    display: block;
    width: 100%;
  }
}
